table {
  border-collapse: collapse;
  width: 90%;
  border-block-color: #9b9b9b;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
}

th, td , tr {
  text-align: left;
  padding: 8px;
  border-block-color: #9b9b9b;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color:#e6e6e6
  /* color: white; */
}